@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.box-shadow {
  box-shadow: 10px 10px;
}
.box-shadow-checkbox {
  box-shadow: 3px 4px;
}
/* WebKit (Safari, Chrome) */
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f9fbe7;
}
